.find-icons {
  display: flex;
  justify-content: space-between;
}

.find_icons__icon {
  display: flex;
  flex-direction: column; /* flex-direction에 따라 Cross Axis랑 Main Axis 가 바뀜  */
  align-items: center;
}

.find_icons__icon i {
  font-size: 35px;
}

.find_icons__icon span {
  margin-top: 18px;
}

.recommended-friends {
  margin: 25px 0px;
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-size: 14px;
  color: var(--main-color);
}

.recommended-friends span {
  display: block;
  margin: 100px 0px;
  text-align: center;
  font-size: 18px;
  color: var(--main-color);
}
